<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>frpc-proxy</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/starter-template.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">frpc-proxy</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <td>id</td>
          <td>请求方式</td>
          <td>路由</td>
          <td>请求时间</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <% rows.forEach(function({ id, method, pathname, body, createdAt }) { %>
          <tr>
            <th><%- id %></th>
            <td><%- method %></td>
            <td><%- pathname %></td>
            <td><%- createdAt %></td>
            <td>
              <button data-id="<%- id %>" class="btn btn-default btn_send" type="button">发送</button>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    $().ready(function() {
      $('.btn_send').on('click', function() {
        var id = $(this).data('id');
        console.log(id);
        $.post('/sendRequest', { id }, function(data, status) {
          console.log(data, status);
        });
      });
    })
  </script>
</body>
</html>